
:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --bg-color: #FF0070;
  --bg-img: url(../images/cover-image-dark.png);
  --color-element: #000028;
}

@media (prefers-color-scheme: dark) {
:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --bg-color: #FF0070;
  --color-element: #000028;
  --subtitle-color: ;
  --bg-img: url(../images/cover-image-dark.png);
}
}

.theme-dark .page {

}
