
:root.theme-light {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --bg-color: #fff1f7;
  --color-element: #353430;
  --bg-img: (./images/cover-image-light.png);
  --content-subtitle-color: #353430;
  --content-title-color: #FF0070
}

.theme-light .page {

}
