.page {
  max-inline-size: 375px;
  height: 100vh;
  margin-top: 40px;
  min-block-size: 668px;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  position: relative;
  font-family: var(--font-family-main), sans-serif;
}

.header {
  position: relative;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

/* Общие декоративные стили */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
  border-color: var(--color-element);
  z-index: 1;
}

/* для шапки */
.header.decorated-zone::before {
  inset: 10px 0 0 340px;
  border-width: 1px 1px 0 0;
}

.header.decorated-zone::after {
  inset: 633px 0 0 10px;
  border-width: 0 0 1px 1px;
}

/* для футера */
.footer.decorated-zone::before {
  inset: 10px 0 0 340px;
  border-width: 1px 1px 0 0;
}

.footer.decorated-zone::after {
  inset: 632px 0 0 10px;
  border-width: 0 0 1px 1px;
}

.decorated-element {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  text-align: center;
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  display: var(--decorated-element-display);
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  inset-block-start: 2.6vw;
  inset-inline-end: 2.6vw;
}

.decorated-element::after {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px;
}
/*расположение кнопок*/
.header__theme-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-block-start: 75px;
}

/*растановка кнопок*/

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 12px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  font-family: var(--font-family-main), sans-serif;
  color: var(--color-element);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 18px;
}

.header__theme-menu-button:disabled {
  outline: 1px solid;
}

.header__title {
  display: block;
  font-family: var(--font-family-main), sans-serif;
  font-weight: 700;
  font-size: var(--font-size-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 96px;
  padding: 62px 50px 0 0;
}

/*блок с текстом в шапке*/
.header__subtitle {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
  text-align: start;
  margin: 55px 0 66px 0;
}

main {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

/*секция 40 отступов*/
.content__description {
  font-family: var(--font-family-main), sans-serif;
  padding-block-start: 40px;
}

.content__title {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  color: var(--content-title-color);
  line-height: 23px;
  text-align: left;
  overflow-wrap: break-word;
}

/*отступы у абзацев*/
.content__subtitle {
  display: inline-block;
  margin-block-start: 10px;
  font-family: var(--font-family-main), sans-serif;
  font-weight: 400;
  color: var(--content-subtitle-color);
  font-size: var(--font-size);
  line-height: 23.4px;
}
/*meow meow*/
.content__link {
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content__link:hover::after {
  content: "";
  inset: 0;
  position: absolute;
  border-bottom: 1px solid;
}

/*20px*/
.title-decor {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  margin-block-start: 20px;
}

/*секция 50 отступов*/
.content__description__focus {
  margin-block-start: 50px;
}

.content__description__concentration .content__title {
  margin-block-start: 50px;
}

.visual__content {
  display: grid;
  gap: 10px;
}

.visual__content-decor {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-family: var(--font-family-main), sans-serif;
  margin-block-start: 50px;
}

.gallery {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  min-block-size: 668px;
  height: 100vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 700;
  font-size: var(--font-size-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 96px;
}
