/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #fff1f7;
  --bg-img: url(./images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --font-family-main: IBM Plex Mono;
  --color-element: #353430;
  --font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);/*пересмотреть формулу*/
}